@model Erp_TEST.Models.ViewModel.Projects.AddFileVm

<div class="row" id="container">
    <form method="post" asp-action="UploadFileSubmit" asp-controller="Project" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="c" style="float: left; width: 49%">

            <br>
            <p>Завантажити файл - <b>@Model.Tytle</b> </p>

        </div>
        <div class="c" style="float: left; width: 49%">
            <!-- Image -->
            <lable class="row">
                <div class="col-md-6">
                    <h4>File:</h4>
                    <div class="col-md-10">
                        <input type="file" name="File" class="form-control" />
                    </div>
                </div>
            </lable>
        </div>


        <br />
        <hr />
        <button type="submit">Зберегти</button>
        <hr />
        <a href="@Url.Action( @*"EditResume"*@ "UploadFileSubmit", "Project", new { resumeId = Model.Id })">
            <b>Закрити</b>
        </a>
    </form>
</div>

